@* @model List<FarmOps.Models.AttendanceModels.ModelAttendanceViewRecord> *@

@{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>

    var userType = Context.Session.GetString("FarmOpsUserType");

    var ableToAttendence = false;
    if(userType == "S"){
        ableToAttendence = true;
    }

}
@if (ableToAttendence)
{
    <div class="job-based-content" style="display:none">
        job
    </div>
    <div class=" time-based-content">
        <div id="grid" class="m-2" style="min-height: 50vh;"></div>
    </div>
    <div class="attendance-footer">
        <button id="timeBasedButton">Time Based</button>
        <button id="jobBasedButton">Job Based</button>
    </div>
}else{

}
<script src="./js/Attendance.js"></script>