/****** Object:  Table [dbo].[tbl_monitor_cat_set]    Script Date: 01-04-2025 23:02:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_monitor_cat_set](
	[moniterid] [nvarchar](50) NOT NULL,
	[setcat] [bit] NOT NULL
) ON [PRIMARY]
GO
