/****** Object:  Table [dbo].[tbl_promo]    Script Date: 01-04-2025 23:02:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_promo](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Promo_code] [nvarchar](100) NULL
) ON [PRIMARY]
GO
