/****** Object:  Table [dbo].[tbl_monitorcat_attendance]    Script Date: 01-04-2025 23:02:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_monitorcat_attendance](
	[McatId] [int] NOT NULL,
	[attendanceId] [int] NOT NULL
) ON [PRIMARY]
GO
