/****** Object:  Table [dbo].[tbl_nelson_winteratten]    Script Date: 01-04-2025 23:02:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_nelson_winteratten](
	[rosterid] [bigint] NULL,
	[winterid] [bigint] NULL,
	[areaid] [int] NULL,
	[rate] [decimal](9, 2) NULL,
	[unit] [decimal](9, 2) NULL
) ON [PRIMARY]
GO
