/****** Object:  Table [dbo].[Global_main]    Script Date: 01-04-2025 23:02:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Global_main](
	[mainid] [int] IDENTITY(1,1) NOT NULL,
	[timestamp] [datetime] NOT NULL
) ON [PRIMARY]
GO
